.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

.dark-mode .form-control,
.dark-mode .table {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #333;
}
